@import 'styles/editable-element';

body {
  background-color: whitesmoke;
  font-family: Roboto, Arial, sans-serif;
}

.album {
  padding: 15px;
  background-color: rgba(black, 0.05);
  .album {
    margin-top: 15px;
  }
}

.entity {
  padding-top: 15px;
}
